*{
  // font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans', sans-serif;
  // font-family: 'Raleway', sans-serif;
}
.bg-blue{
  background-color: #0056B8;
}
.flex{
  display: flex;
}
.justify-space{
  justify-content: space-between;
}
.justify-right{
  justify-content: end;
}
.justify-center{
  justify-content: center;
}
.p0{
  padding: 0 !important;
}
.wrap{
  flex-wrap: wrap;
}
.align-center{
  align-items: center;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}
.container-sm{
  max-width: 1050px;
  margin: auto;
  padding: 20px;
}