.start-prep-container{
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  // padding: 80px 80px;
  padding: 80px 90px !important;

  justify-content: space-between;
  align-items: center;
  .start-prep-right{
    .course-card-container{
      display: flex;
      flex-wrap: wrap;
      max-width: 400px;
      justify-content: right;
    }
  }
}


@media screen and (max-width: 960px) {
  .start-prep-container{
    flex-direction: column;
    align-items: start;
    .start-prep-right{
      margin-top: 30px;
      .course-card-container{
        max-width: 100%;
        justify-content: start;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .start-prep-container{
    flex-direction: column;
    align-items: start;
    padding: 80px 40px !important;
    .start-prep-right{
      margin-top: 30px;
      .course-card-container{
        max-width: 100%;
        justify-content: start;
      }
    }
  }
}