nav{
  font-family: 'PT Sans', sans-serif;
  background-color: #F4F4F4;
  a{
    text-decoration: none;
    color: inherit;
    
  }
  .nav-flex{
    max-width: 1300px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-left{
      .logo{
        cursor: pointer;
        width: 155px;
        height: 60px;
        background: url('../assets/logo-main.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    .nav-right{
      ul{
        display: flex;
        align-items: center;
        li{
          margin-right: 20px;
          &.current-page{
            // font-weight: 800;
            text-decoration: underline;
          }
        }
        li:last-child{
          margin-right: 0px;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  nav{
    .nav-flex{
      .nav-right{
        display: none;
      }
    }
  }
}