*{
  // font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans', sans-serif;
  // font-family: 'Raleway', sans-serif;
}
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.justify-space{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-right{
  justify-content: end;
}
.justify-center{
  justify-content: center;
}
.p0{
  padding: 0 !important;
}
.wrap{
  flex-wrap: wrap;
}
.align-center{
  align-items: center;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}
.drop-shadow{
  box-shadow: 0px 0px 10px #0000002e;
}
.bg-white{
  background-color: #fff;
}
.rounded-rectangle{
  border-radius: 10px;
}
.bg-blue{
  background-color: #0056B8;
}
.img-container{
  width: 500px;
  height: 500px;
  background: url('../assets/east-main.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.east-benefit-card{
  width: 250px;
  height: 180px;
  margin: 15px 10px;
  padding: 10px;
}
.wrap{
  flex-wrap: wrap;
}
.east-benefits-card-container{
  margin: 0px 60px;
}
.grid-2c{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
@media screen and (max-width: 900px) {
  .east-container{
    flex-direction: column;
    padding: 30px 0;
  }
  .img-container{
    margin-top: 30px;
    width: 300px;
    height: 300px;
    background: url('../assets/east-main.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .east-benefits-card-container{
    margin: 0px 20px;
  }
  .grid-2c{
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 690px) {
  .east-benefits-card-container{
    margin: 0px 5px;
  }
  .east-benefit-card{
    width: 250px;
    height: 180px;
    margin: 15px 10px;
  }
}
@media screen and (max-width: 600px) {
  .east-benefits-card-container{
    margin: 0px 35px;
  }
  .east-benefit-card{
    width: 100%;
    height: 200px;
    margin: 15px 10px;
  }
}