

.hero{
  .hero-left{
    flex: 2;
    .hero-left-anim{
      max-width: 80px;
      margin: 16px 0;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .cap{
      animation: bounce 4s infinite linear;
      transform-origin: center top;
      transform-box: fill-box;
    }
    .hero-text{
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #3E3E3E;
      max-width: 500px;
      font-size: 2em;
    }
    .hero-subtext{
      // font-family: 'Raleway', sans-serif;
      // font-weight: 700;
      color: #3E3E3E;
      max-width: 500px;
      // font-size: 2em;
    }
  }
  .hero-right{
    flex: 3;
    // max-width: 600px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 800px) {
  *{
    // display: none;
  }
  .hero{
    flex-direction: column;
    .hero-right{
      margin-top: 50px;
      max-width: 450px;
    }
  }
}
@media screen and (max-width: 400px) {
  *{
    // display: none;
  }
  .hero{
    flex-direction: column;
    .hero-right{
      margin-top: 50px;
      max-width: 450px;
      // display: none;
    }
  }
}