.scholarship-section{
  cursor: pointer;  
  color: #fff !important;
  background: url("../assets/scholarship-main.png");
  background-repeat: no-repeat;
  background-size: contain;
  // background-position: center;
  background-position-x: center;
  background-position-y:top;
  height: 680px;
  .scholarship-cover{
    width: 100%;
    // background-color: #0056B8;
  }
  
}
@media screen and (max-width: 1020px) {
  .scholarship-section{
    height: 400px;
  }
}

@media screen and (max-width: 700px) {
  .scholarship-section{
    background: url("../assets/scholarship-main-responsive.png");
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: center;
    background-position-x: center;
    background-position-y:top;
    height: 700px;
  }
}
@media screen and (max-width: 600px) {
  .scholarship-section{
    height: 600px;
  }
}
@media screen and (max-width: 400px) {
  .scholarship-section{
    height: 500px;
  }
}